<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<connectionStrings>
		<add name="BD_CPIEntities" connectionString="metadata=res://*/BD.Model1.csdl|res://*/BD.Model1.ssdl|res://*/BD.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-807DCL7;initial catalog=BD_CPI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="BD_CPI" connectionString="metadata=res://*/BD.DateBase.csdl|res://*/BD.DateBase.ssdl|res://*/BD.DateBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-807DCL7;initial catalog=BD_CPI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="DataBaseContainer" connectionString="metadata=res://*/BD.DataBase.csdl|res://*/BD.DataBase.ssdl|res://*/BD.DataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-807DCL7;initial catalog=BD_CPI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="SGI_bdContainer" connectionString="metadata=res://*/sgi_bd.SGI_bd.csdl|res://*/sgi_bd.SGI_bd.ssdl|res://*/sgi_bd.SGI_bd.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-807DCL7;initial catalog=SGI_BD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="Model_BDContainer" connectionString="metadata=res://*/BD.Model_BD.csdl|res://*/BD.Model_BD.ssdl|res://*/BD.Model_BD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-807DCL7;initial catalog=BD_CPI_SGI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>