<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Model_BDContainer" connectionString="metadata=res://*/BD.Model_BD.csdl|res://*/BD.Model_BD.ssdl|res://*/BD.Model_BD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-807DCL7;initial catalog=BD_CPI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>